:root {
    --title-text-color: #212121;
    --body-color: #757575;
    --logo-first-part: #2196F3;
    --logo-second-part-top: #000000;
    --logo-second-part-down: #FFFFFF;
    --header-link-color: #212121;
    --link-color-focus: #2196F3;
    --header-info-link-color: #757575;
    --header-border: #ECECEC;
    --link-fill: #FFFFFF;
    --link-fill-second: #AFB1B8;
    --link-color: #2196F3;
    --footer-bg-color: #2F303A;
    --footer-info-color: rgba(255, 255, 255, 0.6) ;
    --footer-address-link: #FFFFFF;
    --bg-color: #FFFFFF;
    --hero-title-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --team-card-bg-color: #FFFFFF;
    --button-color: #FFFFFF;
    --button-bg-color: #2196F3;
    --buton-bg-color-focus: #188CE8;
    --button-filter-color: #212121;
    --button-filter-bg-color: #F5F4FA;
    --button-filter-focus: #FFFFFF;
    --portfolio-card-border: #EEEEEE;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
h2, h3, p{
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
input {
    outline: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    /* outline: 2px solid tomato; */
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.header {
    background-color: var(--bg-color); 
    align-items: center;
    border-bottom: 1px solid var(--header-border);
}
.hero {
    background-color: var(--hero-bg-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero_image.jpg);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}   
.logo-blue {
    color: var(--logo-first-part);
}
.logo-dark{
    color: var(--logo-second-part-top);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-light {
    color: var(--logo-second-part-down);
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.main-nav {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-site-nav {
    display: flex;
    margin-left: 93px;
}
.header-site-nav .item:not(:last-child){
    margin-right: 50px;
}

.header-site-nav .header-link {
    color: var(--header-link-color); 
}
.header-site-nav .header-link:hover,
.header-site-nav .header-link:focus {
    color: var(--link-color-focus);
}
.header-link,
.header-info-link{
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0;
    display: inline-block;  
    transition: color var(--transition-dur-and-func);
}
.header-info-nav {
    display: flex;
    margin-left: auto;
}
.header-info-nav .item:not(:first-child) {
    margin-left: 50px;
}
.header-info-nav .header-info-link{
    color: var(--header-info-link-color);
    fill: currentColor;
}
.header-info-nav .header-info-link:hover,
.header-info-nav .header-info-link:focus {
    color: var(--link-color-focus);
}
.header-site-nav .header-link.current {
    color: var(--link-color-focus);
    opacity: 1;
}
.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--link-color);
    border-radius: 2px;
}
.header-info-nav .item{
    display: flex;
    margin-right: 10px;
}

/* header decoration */

.header-info-link {
    display: flex;
    align-items: center;
}
.mail-link, 
.phone-link {
    margin-right: 10px;
}
.hero-title {
    color: var(--hero-title-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 696px;
}
.button {
    color: var(--button-color);
    background-color: var(--button-bg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    width: 216px;
    transition: background-color var(--transition-dur-and-func);
}
.button:hover,
.button:focus {
    background-color: var(--buton-bg-color-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Main */

.features {
    padding-bottom: 0;
}
.feature-list {
    display: flex;
}
.feature-list .item {
    width: 270px;
}
.item-bg {
    padding: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--team-bg-color);
    border-radius: 4px;
    margin-bottom: 30px; 
}
.feature-icon {
    width: 70px;
    height: 70px;
    display: block;
}
.feature-list .item:not(:last-child) {
    margin-right: 30px;
}
.feature-list .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14; 
    margin-bottom: 10px;   
}
.feature-list .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.team {
    background-color: var(--team-bg-color);
}
.work-list {
    display: flex;
}
.work-list>.item {
    position: relative;
    width: 370px;
}
.work-list>.item:not(:last-child){
    margin-right: 30px;
}
.work-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.work-img-bg-for-text {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-title-color);
}
.team-list{
    display: flex;
}
.team-list>.team-card:not(:last-child) {
    margin-right: 30px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-list-link{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.team-list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    fill: var(--link-fill-second);
    transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.team-list-item-link:not(:last-child) {
    margin-right: 10px;
}
.link-icon {
    width: 20px;
    height: 20px;
}
.team-list-item-link:hover,
.team-list-item-link:focus{
    background-color: var(--link-color);
    fill: var(--link-fill);
}
.features-title, 
.work-title, 
.team-title,
.client-title {
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.client-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.client-list-item {
    display: flex;
}
.client-list-link {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.client-list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    border: 1px solid var(--link-fill-second);
    border-radius: 4px;
    fill: var(--link-fill-second);
    transition: fill var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.client-list-item-link:not(:last-child) {
    margin-right: 30px;
}
.client-list-item-link .link-icon {
    width: 106px;
    height: 60px;
}
.client-list-item-link:hover,
.client-list-item-link:focus {
    border-color: var(--link-color-focus);
    fill: var(--link-color-focus);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.team-card {
    background-color: var(--team-card-bg-color);
    display: block;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-card .title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-position {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    margin-bottom: 16px;
}
.team-card-bottom-part {
    padding: 30px 32px;
}
.title {
    color: var(--title-text-color);
}

/* Footer */

.footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.address {
    font-style: normal;
    margin-top: 20px;
}
.address .item:not(:last-child) {
    margin-bottom: 9px;
}
.address-link {
    color: var(--footer-address-link) ;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
}
.footer-info {
    color: var(--footer-info-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    display: inline-block;
    transition: color var(--transition-dur-and-func);
}
.footer-info:hover,
.footer-info:focus {
    color: var(--link-color-focus);
}
.footer{
    display: flex;
    align-items: baseline;
}
.footer-block {
    display: flex;
    align-items: baseline;
}
.footer-link {
    display: inline-block;
    align-items: baseline;
    margin-left: 70px;
}
.footer-link-title {
    color: var(--link-fill);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
}
.footer-list-link {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--link-fill);
    transition: background-color var(--transition-dur-and-func);
}
.footer-list-link .item:not(:last-child) {
    margin-right: 10px;
}
.footer-list-item-link .link-icon {
    width: 20px;
    height: 20px;
}
.footer-list-item-link:hover,
.footer-list-item-link:focus {
    background-color: var(--link-color-focus);
    fill: var(--link-fill);
}
.footer-email-input {
    margin-left: auto;
}
.footer-form {
    display: flex;
}
.footer-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    width: 358px;
    height: 50px;
    padding: 15px 0px 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--bg-color);
    display: flex;
}
.footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.button-footer-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    padding: 10px 28px;
    width: 200px;
    border-radius: 4px;
    margin-left: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button-color);
    background-color: var(--button-bg-color);
    font-family: inherit;
    transition: background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.button-footer-submit:hover,
.button-footer-submit:focus {
    background-color: var(--buton-bg-color-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-icon-send {
    fill: var(--button-color);
    margin-left: 10px;
}

/* Portfolio */

.filter-list {
    display: flex;
    justify-content:center;
}
.filter-list .item:not(:last-child) {
    margin-right: 8px;
}
.button-filter {
    color: var(--button-filter-color) ;
    background-color: var(--button-filter-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.button-filter:hover,
.button-filter:focus {
    color: var(--button-filter-focus);
    background-color: var(--link-color-focus);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.portfolio-list .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px; 
}
.portfolio-list-link:hover,
.portfolio-list-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-link {
    text-decoration: none;
    display: inline-block;
    transition: box-shadow var(--transition-dur-and-func);
}
.portfolio-list .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-card-border p {
   color:var(--body-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
}
.portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay {
    position: absolute ;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--hero-title-color);
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);
}
.portfolio-list-link:hover .portfolio-overlay,
.portfolio-list-link:focus .portfolio-overlay {
    transform: translateY(0%);
}
.portfolio-card-border {
    width: 370px;
    padding: 20px 24px;
    border: 1px solid var(--portfolio-card-border);
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    opacity: 1;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    background-color: var(--bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.button-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--logo-second-part-top);
    transition: fill var(--transition-dur-and-func);
}
.button-modal-close:focus,
.button-modal-close:hover{
    fill: var(--button-bg-color);
}
.modal-exit {
    width: 18px;
    height: 18px;
    
}
.form {
    width: 448px;
}
.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-field-feedback {
    display: flex;
    flex-direction: column;
}
.form-field-checkbox {
    display: flex;
    flex-direction: column;
}
.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--body-color);
}
.form-input {
    margin-top: 4px;
    height: 40px;
    width: 100%;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
    
}
.form-input:focus,
.comment:focus{
    border-color: var(--button-bg-color);
}
.comment {
    margin-top: 4px;
    height: 120px;
    width: 100%;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    outline: none;
    transition: border-color var(--transition-dur-and-func);
}
.comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
.button-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    padding: 10px 32px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    color: var(--button-color);
    background-color: var(--button-bg-color);
    font-family: inherit;
    transition: background-color var(--transition-dur-and-func);
}
.button-submit:hover,
.button-submit:focus {
    background-color: var(--buton-bg-color-focus);
}
.form-icon {
    position: absolute;
    top:50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    transition: fill var(--transition-dur-and-func);
}
.form-icon-position {
    position: relative;
    fill: var(--button-filter-color);
}
.form-input:focus+.form-icon {
    fill: var(--link-color);
}
.checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
}
.label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    transition: background-color var(--transition-dur-and-func);
    transition: border-color var(--transition-dur-and-func);
    transition: filter var(--transition-dur-and-func);
    transition: box-shadow var(--transition-dur-and-func);
}
.form-checkbox-policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    color: var(--link-color);
}
.icon {
    
    width: 16px;
    height: 15px;
    fill: #ffffff;
    margin-right: 7px;
    border-radius: 2px;
    border: 2px solid var(--button-filter-color);
}
.checkbox-input:checked + .icon {
    background-color: var(--button-bg-color);
    border-color: var(--button-bg-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.checkbox-input:focus + .icon {
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}