.clients__list {
    display: flex;
    margin: 0 auto;
    @media screen and (min-width:480px) {
        flex-wrap: wrap;
        margin: -15px;
    }
}
.clients__item {
    @media screen and (min-width:480px) {
        margin: 15px;
    }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid var(--link-fill-second);
    border-radius: 4px;
    fill: var(--link-fill-second);
    transition: fill var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
    &:hover,
    &:focus {
        border-color: var(--link-color-focus);
        fill: var(--link-color-focus);
    }
    &:not(:last-child) {
        margin-right: 30px;
    }
    @media screen and (min-width:480px) {
        width: 210px;
    }
    @media screen and (min-width:480px) {
        width: 226px;
    }
    @media screen and (min-width:480px) {
        width: 170px;
    }
}



.clients__icon {
    width: 106px;
    height: 60px;
}

