@media screen and (max-width:767px) {
    .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--bg-color);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            z-index: 10;
            transition: opacity var(--transition-dur-and-func),
                visibility var(--transition-dur-and-func);
        }
    
        .menu-button-close {
            position: absolute;
            top: 10px;
            right: 15px;
            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent;
            line-height: 0;
            cursor: pointer;
        }
    
        .mobile-menu__container {
            position: relative;
            padding-left: 40px;
            padding-top: 32px;
            padding-bottom: 48px;
            display: block;
        }
    
        .mobile-menu.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    
        .site-nav-mobile__link {
            position: relative;
            font-weight: 500;
            font-size: 40px;
            line-height: 1.18;
            letter-spacing: 0.02em;
            text-decoration: none;
            padding: 16px 0;
            display: inline-block;
            transition: color var(--transition-dur-and-func);
            color: var(--header-link-color);
    
            &:hover,
            &:focus {
                color: var(--link-color-focus);
    
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -1px;
    
                    width: 100%;
                    height: 4px;
                    display: block;
                    background-color: var(--link-color);
                    border-radius: 2px;
                }
            }
        }
    
        .site-nav-mobile__link--current {
            color: var(--link-color-focus);
            opacity: 1;
        }
    
        .contact-mobile {
            margin-left: auto;
        }
    
        .contact-mobile__link {
            position: relative;
            font-weight: 500;
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            text-decoration: none;
            padding: 0;
            display: inline-block;
            transition: color var(--transition-dur-and-func);
        }
    
        .contact-mobile__link.phone {
            font-size: 34px;
            line-height: 1.18;
            color: var(--link-color-focus);
            margin-top: 286px;
            margin-bottom: 32px;
        }
    
        .contact-mobile__link {
            display: flex;
            align-items: center;
            color: var(--contact__link-color);
            fill: currentColor;
    
            &:hover,
            &:focus {
                color: var(--link-color-focus);
            }
        }
    
        .social-mobile {
            display: flex;
            margin-left: -10px;
            margin-top: 64px;
        }
    
        .social-mobile__item {
            padding-left: 10px;
            padding-right: 10px;
    
            &:not(:last-child) {
                border-right: 1px solid rgba(33, 33, 33, 0.2);
            }
        }
    
        .social-mobile__link {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            color: var(--link-color-focus);
            text-decoration: none;
        }
}
@media screen and (min-width:768px){
    .mobile-menu {
    display: none;
    }
}