.team {
    background-color: var(--team-bg-color);
}


.team__list {
    display: flex;
}

.team__item{
    &:not(:last-child) {
    margin-right: 30px;
}
}

.team-card-social {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.team-card-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    fill: var(--link-fill-second);
    transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
    &:not(:last-child) {
        margin-right: 10px;
    }
    &:hover,
    &:focus {
        background-color: var(--link-color);
        fill: var(--link-fill);
    }
}



.team-card-social__icon {
    width: 20px;
    height: 20px;
}



.team__item {
    background-color: var(--team-card-bg-color);
    display: block;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card__title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.team-card__text {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    margin-bottom: 16px;
}

.team-card {
    padding: 30px 32px;
}