* {
    box-sizing: border-box;
}
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    outline: none;
}
body {
    background-color: var(--bg-color);
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}