:root {
    --title-text-color: #212121;
    --body-color: #757575;
    --logo-first-part: #2196F3;
    --logo-second-part-top: #000000;
    --logo-second-part-down: #FFFFFF;
    --header-link-color: #212121;
    --link-color-focus: #2196F3;
    --contact__link-color: #757575;
    --header-border: #ECECEC;
    --link-fill: #FFFFFF;
    --link-fill-second: #AFB1B8;
    --link-color: #2196F3;
    --footer-bg-color: #2F303A;
    --footer-info-color: rgba(255, 255, 255, 0.6);
    --footer-address-link: #FFFFFF;
    --bg-color: #FFFFFF;
    --hero-title-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --team-card-bg-color: #FFFFFF;
    --button-color: #FFFFFF;
    --button-bg-color: #2196F3;
    --buton-bg-color-focus: #188CE8;
    --button-filter-color: #212121;
    --button-filter-bg-color: #F5F4FA;
    --button-filter-focus: #FFFFFF;
    --portfolio-card-border: #EEEEEE;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}